@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row card" style="padding:0 5% 5% 5%">
    <div class="col-md-2"><h2>Newsfeed</h2></div>
    <br />
    <hr />
    <div class="col-md-12">
    @foreach(var Photo in ViewBag.Photos)
    {
        if (Photo.Album.IsDefault == false)
        {
             <div class="row">
                <div class="col-md-10 center-block">
                    <h3><a href="/Profile/Show/@Photo.Album.ProfileId">@Photo.Album.Profile.ApplicationUser.LastName  @Photo.Album.Profile.ApplicationUser.FirstName</a>
                    in Album <a href="/Album/Show/@Photo.AlbumId">@Photo.Album.Name</a></h3>
                    <br />
                    <a href="/Album/ShowPhoto/@Photo.Id"><img width="500" src="/images/@Photo.Location" class="img-thumbnail"/></a>
                </div>
            </div>
        }

    }
        </div>
</div>